Repository hmajid2301/BanterBus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:docker:ci, download:dependency

publish:docker:ci:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    IMMUTABLE: 'true'
    IMAGE: $BANTERBUS_CI_IMAGE
    FLAKE_TARGET: container-ci
    LOCAL_IMAGE: banterbus-dev
  services:
  - docker:27-dind
  before_script:
  ...

download:dependency:
  stage: deps
  image: $BANTERBUS_CI_IMAGE
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  cache:
    paths:
    - ${GOPATH}/pkg/mod
    policy: pull-push
  before_script:
  - mkdir /tmp
  script:
  - go mod download

feat: show player question and their role
  Taskfile.yml
  db/migrations/20241010183606_add_fibbing_rounds.sql
  db/migrations/20241012084622_add_questions_tables.sql
  db/query.sql
  flake.lock
  internal/banterbustest/db.go
  internal/entities/models.go
  internal/mocks/service/mock_Randomizer.go
  internal/mocks/service/mock_Storer.go
  internal/service/lobby_service.go
  internal/service/lobby_service_test.go
  internal/service/player_service.go
  internal/service/player_service_test.go
  internal/service/service_helpers.go
  internal/store/db/models.go
  internal/store/db/query.sql.go
  internal/store/lobby_store.go
  internal/store/lobby_store_integration_test.go
  internal/transport/websockets/lobby_handlers.go
  internal/transport/websockets/player_handlers.go
  internal/transport/websockets/subscribe_integration_test.go
  internal/transport/websockets/view_updates.go
  internal/transport/websockets/views/game.templ
  internal/transport/websockets/views/game_templ.go
  internal/transport/websockets/views/lobby.templ
  internal/transport/websockets/views/lobby_templ.go
  shell.nix
  tests/e2e/startgame_test.go
Due: none

fix(deps): update module go.opentelemetry.io/otel to v1.31.0
  go.mod
  go.sum
Due: download:dependency

chore: add browser-sync and gitlab ci local
  .air.toml
  .gitlab-ci-local/.gitignore
  Taskfile.yml
  flake.nix
  internal/transport/websockets/views/error_templ.go
  internal/transport/websockets/views/error_templ.txt
  internal/transport/websockets/views/game_templ.go
  internal/transport/websockets/views/game_templ.txt
  internal/transport/websockets/views/lobby_templ.go
  internal/transport/websockets/views/lobby_templ.txt
Due: none

feat: style header
  .gitignore
  .gitlab-ci-local/.gitignore
  .gitlab-ci.yml
  Taskfile.yml
  flake.lock
  gomod2nix.toml
  internal/transport/websockets/views/error_templ.go
  internal/transport/websockets/views/error_templ.txt
  internal/transport/websockets/views/game_templ.go
  internal/transport/websockets/views/game_templ.txt
  internal/transport/websockets/views/lobby_templ.go
  internal/transport/websockets/views/lobby_templ.txt
  static/css/styles.css
  static/css/tailwind.css
  static/fonts/NoyhR-Medium.woff2
  static/index.html
  tailwind.config.js
Due: none

feat: add button and background on index page
  internal/transport/websockets/views/components/button.templ
  internal/transport/websockets/views/components/button_templ.go
  static/css/styles.css
  static/images/background-pattern.svg
  static/index.html
  tailwind.config.js
Due: none

feat: finish 1st draft of the main page
  internal/transport/websockets/views/components/button.templ
  internal/transport/websockets/views/components/button_templ.go
  static/css/styles.css
  static/css/tailwind.css
  static/fonts/Coiny-Regular.ttf
  static/fonts/NoyhR-Black.woff
  static/index.html
  tailwind.config.js
Due: none

chore: add generate to pre-commit
  flake.lock
  shell.nix
Due: none

refactor: move index page to templ
  Taskfile.yml
  internal/transport/http/handlers.go
  internal/transport/websockets/view_updates.go
  internal/views/components/button.templ
  internal/views/components/button_templ.go
  internal/views/components/header.templ
  internal/views/components/header_templ.go
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  internal/views/sections/error.templ
  internal/views/sections/error_templ.go
  internal/views/sections/game.templ
  internal/views/sections/game_templ.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
  shell.nix
  static/css/styles.css
  static/css/tailwind.css
  static/index.html
  tailwind.config.js
  tests/e2e/setup_test.go
Due: none

chore: do browser reload with templ
  Taskfile.yml
  flake.nix
Due: none

chore: make the banter bus title more like the figma design
  docs/logo-outlined.png
  docs/logo.png
  docs/logo.svg
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  static/css/styles.css
  tailwind.config.js
Due: none

chore: remove placeholder logo
  internal/views/components/header.templ
  internal/views/components/header_templ.go
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  static/favicon.ico
  static/images/android-chrome-192x192.png
  static/images/android-chrome-512x512.png
  static/images/apple-touch-icon.png
  static/images/favicon-16x16.png
  static/images/favicon-32x32.png
  static/images/favicon-48x48.png
  static/images/favicon.ico
  static/images/favicon.svg
  static/images/logo.svg
  static/images/web-app-manifest-192x192.png
  static/images/web-app-manifest-512x512.png
  static/site.webmanifest
Due: none

docs: update docs/README
  README.md
  docs/index.md
  docs/screens/main.png
  internal/views/components/header.templ
  internal/views/components/header_templ.go
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  static/css/styles.css
Due: none

fix: goEnv in environment
  .gitlab-ci.yml
  README.md
  Taskfile.yml
  containers/CHANGELOG.md
  containers/ci.nix
  flake.lock
  flake.nix
  go.mod
  go.sum
  gomod2nix.toml
  shell.nix
Due: publish:docker:ci, download:dependency

ci: run jobs when relevant files change
  .gitlab-ci.yml
Due: none

feat: add copier template link
  .copier-answers.yml
  README.md
  flake.nix
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
Due: none

ci: fix coverage job to report actual coverage
  .gitlab-ci.yml
  Taskfile.yml
Due: none

fix: new home page to start and join
  .gitignore
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  static/css/styles.css
  tests/e2e/helpers_test.go
  tests/e2e/lobby_test.go
Due: none

feat: export metrics
  .gitlab-ci-local/.gitignore
  docker-compose.yml
  go.mod
  go.sum
  gomod2nix.toml
  internal/logging/logging.go
  internal/telemetry/metrics.go
  internal/telemetry/telemetry.go
  internal/transport/http/handlers.go
  internal/transport/websockets/subscribe.go
  internal/transport/websockets/subscribe_integration_test.go
  main.go
  tests/e2e/setup_test.go
Due: download:dependency

feat: force deploy of new pod
  .gitlab-ci.yml
Due: none

feat: kick player from lobby
  .gitlab-ci.yml
  containers/ci.nix
  db/query.sql
  internal/banterbustest/db.go
  internal/mocks/service/mock_Storer.go
  internal/service/lobby_service.go
  internal/service/lobby_service_test.go
  internal/store/db/query.sql.go
  internal/store/lobby_store.go
  internal/store/lobby_store_integration_test.go
  internal/transport/websockets/lobby_handlers.go
  internal/transport/websockets/models.go
  internal/transport/websockets/rooms.go
  internal/transport/websockets/subscribe.go
  internal/transport/websockets/subscribe_integration_test.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
  tests/e2e/lobby_test.go
Due: publish:docker:ci

Path conditions:
  publish:docker:ci: any of: containers/ci.nix
  download:dependency: any of: go.mod, go.sum
