Repository hmajid2301/BanterBus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:docker:ci, download:dependency

publish:docker:ci:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    IMMUTABLE: 'true'
    IMAGE: $BANTERBUS_CI_IMAGE
    FLAKE_TARGET: container-ci
    LOCAL_IMAGE: banterbus-dev
  services:
  - docker:27-dind
  script:
  ...

download:dependency:
  stage: deps
  image: $BANTERBUS_CI_IMAGE
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  cache:
    paths:
    - ${GOPATH}/pkg/mod
    policy: pull-push
  before_script:
  - mkdir -p /tmp
  script:
  - go mod download

fix(deps): update all non-major dependencies
  .gitlab-ci.yml
  go.mod
  go.sum
  gomod2nix.toml
Due: download:dependency

feat: [sc-208] Add looping statemachine logic
  .gitlab-ci.yml
  .golangci.yml
  internal/service/lobbyservice.go
  internal/service/lobbyservice_test.go
  internal/service/mocks/mock_storer.go
  internal/service/models.go
  internal/service/playerservice.go
  internal/service/playerservice_test.go
  internal/service/roundservice.go
  internal/service/roundservice_test.go
  internal/service/service.go
  internal/store/db/db.mine.go
  internal/store/db/models.go
  internal/store/db/querier.go
  internal/store/db/query.sql.go
  internal/store/db/sqlc/migrations/20241126234925_initial_tables.sql
  internal/store/db/sqlc/query.sql
  internal/store/db/transactions.go
  internal/transport/websockets/lobbyhandlers.go
  internal/transport/websockets/roundhandlers.go
  internal/transport/websockets/statemachine.go
  renovate.json
Due: none

chore: [sc-216] Enable sloglint
  .golangci.yml
  internal/transport/http/handlers.go
  internal/transport/websockets/roundhandlers.go
  internal/transport/websockets/statemachine.go
  internal/transport/websockets/subscribe.go
  main.go
Due: none

feat: [sc-219] Return Answers with Question State
  internal/service/mocks/mock_storer.go
  internal/service/models.go
  internal/service/playerservice.go
  internal/service/playerservice_test.go
  internal/service/roundservice.go
  internal/service/roundservice_test.go
  internal/store/db/querier.go
  internal/store/db/query.sql.go
  internal/store/db/sqlc/query.sql
  internal/store/db/transactions.go
  internal/views/sections/question.templ
  internal/views/sections/question_templ.go
  static/css/styles.css
Due: none

fix: [sc-215] Update avatar gen logic
  internal/service/lobbyservice.go
  internal/service/lobbyservice_test.go
  internal/service/mocks/mock_randomizer.go
  internal/service/models.go
  internal/service/playerservice.go
  internal/service/playerservice_test.go
  internal/service/randomizer/userrandomizer.go
  internal/service/roundservice.go
  internal/service/roundservice_test.go
  internal/service/service.go
  internal/store/db/models.go
  internal/store/db/query.sql.go
  internal/store/db/sqlc/migrations/20241126234925_initial_tables.sql
Due: none

feat: [sc-49] Show scoring page
  go.mod
  go.sum
  gomod2nix.toml
  internal/config/config.go
  internal/config/config_test.go
  internal/config/deadlines.go
  internal/service/mocks/mock_storer.go
  internal/service/models.go
  internal/service/roundservice.go
  internal/service/roundservice_test.go
  internal/service/service.go
  internal/store/db/models.go
  internal/store/db/querier.go
  internal/store/db/query.sql.go
  internal/store/db/sqlc/migrations/20241126234925_initial_tables.sql
  internal/store/db/sqlc/query.sql
  internal/store/db/transactions.go
  internal/transport/websockets/lobbyhandlers.go
  internal/transport/websockets/roundhandlers.go
  internal/transport/websockets/statemachine.go
  internal/transport/websockets/subscribe.go
  internal/transport/websockets/subscribe_integration_test.go
  internal/transport/websockets/viewupdates.go
  internal/views/sections/score.templ
  internal/views/sections/score_templ.go
  main.go
  tests/e2e/rounds_test.go
  tests/e2e/setup_test.go
Due: download:dependency

tests: add player integration tests
  internal/service/lobbyservice.go
  internal/service/lobbyservice_integration_test.go
  internal/service/lobbyservice_test.go
  internal/service/playerservice.go
  internal/service/playerservice_test.go
  internal/service/playerstore_integration_test.go
  internal/service/roundservice.go
  internal/service/roundservice_test.go
  internal/transport/websockets/lobbyhandlers.go
  internal/transport/websockets/playerhandlers.go
  internal/transport/websockets/reconnect.go
  internal/transport/websockets/roundhandlers.go
Due: none

chore: [sc-46] Confirm if player wants to reconnect to current page
  internal/config/config.go
  internal/service/lobbyservice.go
  internal/service/lobbyservice_test.go
  internal/service/roundservice.go
  internal/store/db/sqlc/query.sql
  internal/transport/websockets/lobbyhandlers.go
  internal/transport/websockets/reconnect.go
  internal/transport/websockets/roundhandlers.go
  internal/transport/websockets/subscribe.go
  internal/views/langs/de-DE.yaml
  internal/views/langs/en-GB.yaml
  internal/views/langs/pt-PT.yaml
  shell.nix
  tests/e2e/reconnect_test.go
  tests/e2e/setup_test.go
Due: none

chore: [sc-240] Add round service integration tests
  .gitlab-ci.yml
  internal/service/helpers_test.go
  internal/service/lobbyservice.go
  internal/service/lobbyservice_integration_test.go
  internal/service/playerservice_integration_test.go
  internal/service/roundservice.go
  internal/service/roundservice_integration_test.go
  internal/service/roundservice_test.go
  internal/service/roundstore_integration_test.go
  internal/service/service.go
  internal/store/db/query.sql.go
  internal/store/db/sqlc/query.sql
Due: none

feat: [sc-168] Localise Question
  docker-compose.yml
  internal/banterbustest/db.go
  internal/service/helpers_test.go
  internal/service/lobbyservice.go
  internal/service/lobbyservice_integration_test.go
  internal/service/lobbyservice_test.go
  internal/service/mocks/mock_storer.go
  internal/service/playerservice.go
  internal/service/playerservice_integration_test.go
  internal/service/roundservice.go
  internal/service/roundservice_integration_test.go
  internal/service/roundservice_test.go
  internal/store/db/models.go
  internal/store/db/querier.go
  internal/store/db/query.sql.go
  internal/store/db/sqlc/migrations/20241126234925_initial_tables.sql
  internal/store/db/sqlc/query.sql
  internal/transport/websockets/playerhandlers.go
  internal/transport/websockets/subscribe.go
  internal/transport/websockets/subscribe_integration_test.go
  main.go
  tests/e2e/setup_test.go
Due: none

chore: [sc-241] remove subscribe integration tests
  internal/transport/websockets/subscribe_integration_test.go
Due: none

refactor: enums
  internal/service/lobbyservice.go
  internal/service/lobbyservice_integration_test.go
  internal/service/lobbyservice_test.go
  internal/service/playerservice.go
  internal/service/playerservice_test.go
  internal/service/roundservice.go
  internal/service/roundservice_integration_test.go
  internal/service/roundservice_test.go
  internal/store/db/db.mine.go
  internal/store/db/enums.go
  internal/store/db/pgx.go
  internal/store/db/transactions.go
  internal/transport/websockets/reconnect.go
  internal/transport/websockets/roundhandlers.go
  internal/transport/websockets/statemachine.go
Due: none

fix(deps): update all non-major dependencies
  .gitlab-ci.yml
  containers/CHANGELOG.md
  docker-compose.yml
  flake.lock
  flake.nix
  go.mod
  go.sum
  gomod2nix.toml
  internal/service/mocks/mock_randomizer.go
  internal/service/mocks/mock_storer.go
  static/css/styles.css
Due: publish:docker:ci, download:dependency

feat: [sc-221] Log original line where the error came from
  go.mod
  go.sum
  gomod2nix.toml
  internal/banterbustest/db.go
  internal/config/config.go
  internal/logging/logging.go
  internal/service/lobbyservice.go
  internal/service/lobbyservice_integration_test.go
  internal/service/lobbyservice_test.go
  internal/service/playerservice.go
  internal/service/playerservice_test.go
  internal/service/roundservice.go
  internal/service/roundservice_integration_test.go
  internal/service/roundservice_test.go
  internal/store/pubsub/client.go
  internal/transport/websockets/lobbyhandlers.go
  internal/transport/websockets/reconnect.go
  internal/transport/websockets/subscribe.go
  main.go
  renovate.json
  tests/e2e/helpers_test.go
  tests/e2e/setup_test.go
Due: download:dependency

feat: [sc-189] Add smoke tests with playwright which we can run periodically
  .gitlab-ci.yml
  tests/e2e/setup_test.go
Due: none

ci: don't run some jobs in scheduled
  .gitlab-ci.yml
Due: none

feat: [sc-175] Image automation with Flux CD
  .gitlab-ci.yml
Due: none

ci: wait for pods to be deployed
  .gitlab-ci.yml
Due: none

ci: wait for prod:docker job in deploy job
  .gitlab-ci.yml
Due: none

work
  flake.nix
  shell.nix
Due: publish:docker:ci

chore: [sc-284] Fix deploy ci job
  .gitlab-ci.yml
Due: none

Path conditions:
  publish:docker:ci: any of: containers/ci.nix, flake.nix, flake.lock
  download:dependency: any of: go.mod, go.sum
