Repository hmajid2301/BanterBus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:docker:ci, download:dependency

publish:docker:ci:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    IMMUTABLE: 'true'
    IMAGE: $BANTERBUS_CI_IMAGE
    FLAKE_TARGET: container-ci
    LOCAL_IMAGE: banterbus-dev
  services:
  - docker:27-dind
  before_script:
  ...

download:dependency:
  stage: deps
  image: $BANTERBUS_CI_IMAGE
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  cache:
    paths:
    - ${GOPATH}/pkg/mod
    policy: pull-push
  before_script:
  - mkdir /tmp
  script:
  - go mod download

feat: style lobby page
  .air.toml
  .gitlab-ci.yml
  go.mod
  go.sum
  gomod2nix.toml
  internal/banterbustest/db.go
  internal/telemetry/telemetry.go
  internal/transport/websockets/subscribe_integration_test.go
  internal/views/components/header.templ
  internal/views/components/header_templ.go
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
  static/css/styles.css
  static/images/logo-outline.svg
  tests/e2e/helpers_test.go
  tests/e2e/startgame_test.go
Due: download:dependency

refactor: svgs from html templ
  internal/views/icons/clipboard.templ
  internal/views/icons/clipboard_templ.go
  internal/views/icons/edittext.templ
  internal/views/icons/edittext_templ.go
  internal/views/icons/group.templ
  internal/views/icons/group_templ.go
  internal/views/icons/play.templ
  internal/views/icons/play_templ.go
  internal/views/icons/redo.templ
  internal/views/icons/redo_templ.go
  internal/views/icons/squarecheckmark.templ
  internal/views/icons/squarecheckmark_templ.go
  internal/views/icons/squarecross.templ
  internal/views/icons/squarecross_templ.go
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
  static/css/styles.css
Due: none

fix(deps): update module github.com/fatih/color to v1.18.0
  go.mod
  go.sum
  gomod2nix.toml
Due: download:dependency

refactor: add components
  .golangci.yml
  Taskfile.yml
  internal/views/components/button.templ
  internal/views/components/button_templ.go
  internal/views/components/textinput.templ
  internal/views/components/textinput_templ.go
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
  shell.nix
Due: none

feat: copy code to clipboard
  docs/screens/lobby.png
  docs/screens/main.png
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
Due: none

fix: order players in room by created at date i.e. host first
  db/query.sql
  internal/store/db/query.sql.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
  static/css/styles.css
Due: none

fix: kick player button
  internal/views/icons/remove.templ
  internal/views/icons/remove_templ.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
  static/css/styles.css
Due: none

feat: add crown to host
  internal/views/icons/crown.templ
  internal/views/icons/crown_templ.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
  static/css/styles.css
Due: none

ci: reduce image size in 1/2
  .gitlab-ci.yml
  containers/CHANGELOG.md
  containers/ci.nix
  flake.nix
  shell.nix
Due: publish:docker:ci

feat: add arion to replace docker-compose
  arion-compose.nix
  arion-pkgs.nix
  shell.nix
Due: none

ci: improve linter
  .gitlab-ci-local/.gitignore
  .golangci.yml
  internal/banterbustest/db.go
  internal/config/config.go
  internal/config/config_test.go
  internal/logging/prettyhandler.go
  internal/service/user_randomizer.go
  internal/store/lobby_store.go
  internal/store/lobby_store_integration_test.go
  internal/store/player_store.go
  internal/telemetry/telemetry.go
  internal/transport/http/handlers.go
  internal/transport/websockets/client.go
  internal/transport/websockets/lobby_handlers.go
  internal/transport/websockets/models.go
  internal/transport/websockets/player_handlers.go
  internal/transport/websockets/rooms.go
  internal/transport/websockets/subscribe.go
  internal/transport/websockets/subscribe_integration_test.go
  internal/transport/websockets/view_updates.go
  main.go
  tests/e2e/setup_test.go
Due: none

fix: tests integration
  internal/transport/websockets/subscribe_integration_test.go
  internal/views/sections/lobby.templ
  internal/views/sections/lobby_templ.go
Due: none

fix(deps): update module github.com/a-h/templ to v0.2.793
  go.mod
  go.sum
  gomod2nix.toml
Due: download:dependency

feat: allow users to submit answers
  db/migrations/20241102225825_update_players_and_add_time.sql
  db/query.sql
  internal/mocks/service/mock_Storer.go
  internal/service/lobby_service.go
  internal/service/round_service.go
  internal/service/round_service_test.go
  internal/store/db/models.go
  internal/store/db/query.sql.go
  internal/store/lobby_store.go
  internal/store/lobby_store_integration_test.go
  internal/store/round_store.go
  internal/store/round_store_integration_test.go
  internal/transport/websockets/models.go
  internal/transport/websockets/round_handlers.go
  internal/transport/websockets/subscribe.go
  internal/transport/websockets/subscribe_integration_test.go
  internal/views/sections/game.templ
  internal/views/sections/game_templ.go
  main.go
  tests/e2e/lobby_test.go
  tests/e2e/setup_test.go
  tests/e2e/startgame_test.go
Due: none

refactor: tests to use require and assert correctly
  internal/service/lobbyservice.go
  internal/service/lobbyservice_test.go
  internal/service/playerservice.go
  internal/service/playerservice_test.go
  internal/service/roundservice.go
  internal/service/roundservice_test.go
  internal/service/servicehelpers.go
  internal/service/userrandomizer.go
  internal/store/lobbystore.go
  internal/store/lobbystore_integration_test.go
  internal/store/playerstore.go
  internal/store/playerstore_integration_test.go
  internal/store/roundstore.go
  internal/store/roundstore_integration_test.go
Due: none

chore: move mocks to inside package folder
  .mockery.yaml
  internal/service/lobbyservice_test.go
  internal/service/mocks/mock_randomizer.go
  internal/service/mocks/mock_storer.go
  internal/service/playerservice_test.go
  internal/service/roundservice_test.go
  internal/transport/websockets/lobbyhandlers.go
  internal/transport/websockets/playerhandlers.go
  internal/transport/websockets/roundhandlers.go
Due: none

feat: add skeleton for i18n
  db/migrations/20241106221305_i18n_player.sql
  go.mod
  go.sum
  gomod2nix.toml
  internal/config/config.go
  internal/config/config_test.go
  internal/store/db/models.go
  internal/store/db/query.sql.go
  internal/transport/http/handlers.go
  internal/transport/websockets/client.go
  internal/transport/websockets/subscribe.go
  internal/views/components/header.templ
  internal/views/components/header_templ.go
  internal/views/langs/en-GB.yaml
  internal/views/locales.go
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  main.go
  tests/e2e/setup_test.go
Due: download:dependency

feat: Improve UI for question page
  internal/transport/websockets/subscribe_integration_test.go
  internal/views/icons/alien.templ
  internal/views/icons/alien_templ.go
  internal/views/icons/user.templ
  internal/views/icons/user_templ.go
  internal/views/sections/game.templ
  internal/views/sections/game_templ.go
  static/css/styles.css
  tests/e2e/startgame_test.go
Due: none

fix: dev environment reloading
  .air.toml
  internal/transport/http/handlers.go
Due: none

feat: allow users to set their language
  .air.toml
  db/migrations/20241106221305_i18n_player.sql
  go.mod
  go.sum
  gomod2nix.toml
  internal/store/db/models.go
  internal/store/db/query.sql.go
  internal/transport/http/handlers.go
  internal/transport/websockets/playerhandlers.go
  internal/transport/websockets/subscribe.go
  internal/views/components/header.templ
  internal/views/components/header_templ.go
  internal/views/langs/de-DE.yaml
  internal/views/langs/pt-PT.yaml
  internal/views/locales.go
  internal/views/pages/index.templ
  internal/views/pages/index_templ.go
  static/css/styles.css
  static/js/alpine.min.js
  static/js/htmx.min.js
  static/js/htmx.ws.js
Due: download:dependency

Path conditions:
  publish:docker:ci: any of: containers/ci.nix
  download:dependency: any of: go.mod, go.sum
